#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.todo-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #0000;
}

.todo-header {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.todo-input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  flex-grow: 1;
}

.add-button, .save-button {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.add-button:hover, .save-button:hover {
  background-color: #45a049;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  color:  black;
}

.todo-item {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color:  black;
}

.edit-button, .delete-button {
  padding: 5px 10px;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}

.edit-button {
  background-color: #ffa500;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.edit-button:hover {
  background-color: #e68900;
}

.delete-button:hover {
  background-color: #d32f2f;
}
